.summary-description{
    color: #000 !important;
    font-size: 16px !important;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease;
}

.popup.show {
    visibility: visible;
    opacity: 1;
}


.popup-content {
    background: #fff !important;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3) !important;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px !important;
    cursor: pointer;
    background-color: #3D85EA;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 13px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.close-btn:hover{
    background-color: #0056b3;
}

.popup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-logo {
    height: 100px;
    object-fit: contain;
    margin-bottom: 6px;
}

.summary-table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 5px;
    margin-top: 5px;
    font-size: 15px !important;
}

.summary-table th, table td {
    padding: 12px 15px;
    text-align: left;
    background-color: #fff;
}

.summary-table th {
    font-weight: bold;
    color: #333;
}


.summary-table td:first-child {
    vertical-align: top;
    font-weight: bold;
}

.red td {
    background-color: #F5D6D6; 
    color: #721c24;
}

.yellow td {
    background-color: #FDF5B3;
    color: #856404;
}

.green td {
    background-color: #B3FDC7;
    color: #155724;
}