* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #000;
    line-height: 1.6;
    padding: 8px 50px;
    display: flex;
    flex-direction: column;
}

.logo-section {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    object-fit: contain;
    height: 180px;
}

.section-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #000;
}

.download-btn {
    margin: 20px auto;
    background-color: #3D85EA;
    color: #ffffff;
    border: none;
    padding: 17px 60px;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.download-btn:hover {
    background-color: #0056b3;
}

.disclaimer {
    flex: 1;
}

footer {
    height: 20px;
}

footer>p{
    font-size: 14px;
    text-align: center;
    font-style: italic;
    color: #3F3F3F;
}

/* Extension styles */
.extension-body{
    min-width: 400px; 
    max-width: 500px;
    overflow: hidden;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-bottom: 30px;
}

.extension-logo {
    width: 200px;
    margin: 5px auto;
}

.info-text {
    font-size: 14px;
    margin-bottom: 10px;
}